<div class="login"><%= form_for(:session, url: login_path) do |f| %>
  <div class='form-label'><%= f.label :name, "Username"%>
  <%= f.text_field :name %>

  <%= f.label :password %>
  <%= f.text_field :password %>

  <%= f.submit "Sign In" , :class => 'button' %>
<% end %><br></div>

<div class="link-as-button"><%= link_to("Login With Google", '/auth/google_oauth2') %></div>
