<h1><%= @school.name %></h1>
Principal <%= @school.principal %>
<%= @school.description %>
<%= @school.grade_levels %><br>

<%= @school.address %>
<%= @school.zip_code %>
<%= @school.phone %><br>

School Number: <%= @school.school_number %>
District: <%= @school.district.name %>

Website: <%= @school.web_url %>

<%= link_to "Add Favorite", school_favorite_schools_path(@school), controller: "favorite_schools_controller", method: "post" %>
