<h1><%= @school.name %> (<%= @school.phone %>) </h1>

<table>
  <th> Principal </th>
  <th> Description </th>
  <th> Grade Levels </th>
  <th> Address </th>
  <th> School Number </th>
  <th> District </th>
    <tr>
      <td><%= @school.principal %></td>
      <td><%= @school.description %></td>
      <td><%= @school.grade_levels %></td>
      <td><%= @school.address %><br>
          <%=@school.zip_code %></td>
      <td><%= @school.school_number %></td>
      <td><%= @school.district.name %></td>
    </tr>
</table><br>


<h3>Website: <%= @school.web_url %></h3>

<p><% if current_user %>
  <% if current_user.favorite_schools.exists?(school: @school) %>
    <%= link_to "Unfavorite", school_favorite_school_path(@school), controller: "favorite_schools_controller", method: "delete" %>
    <h3> Notes (<%= @favorite_school.notes.count %>) </h3><hr>
    <%= render partial: 'favorite_schools/note', collection: @favorite_school.notes.reverse %>
    <%= render partial: 'notes/form' %>
  <% else %>
    <%= link_to "Add Favorite", school_favorite_schools_path(@school), controller: "favorite_schools_controller", method: "post" %>
  <% end %>
<% end %>
</p>
